<form>
  <h1> Auto Complete Simples</h1>
  <mat-form-field>
    <mat-label>Cliente</mat-label>
    <input type="text"  matInput [matAutocomplete]="autoSimples" [(ngModel)]="clientSimples" name="clientSimples"/>
    <mat-autocomplete #autoSimples="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field> <br>
  <button mat-raised-button color="primary" (click)="save()">Salvar</button>
</form>

<form>
  <h1>Auto complete com Objetos</h1>
  <mat-form-field>
    <mat-label>Cliente</mat-label>
    <input type="text"  matInput [matAutocomplete]="auto" [(ngModel)]="clientObject" name="clientObject"/>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of objectOptions" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field> <br>
  <button mat-raised-button color="primary" (click)="saveObject()">Salvar</button>
</form>

<form>
  <h1>Auto complete Simples com Filtro</h1>
  <mat-form-field>
    <mat-label>Cliente</mat-label>
    <input type="text"  matInput [matAutocomplete]="autoFilter" [formControl]="client" />
    <mat-autocomplete #autoFilter="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field> <br>
  <button mat-raised-button color="primary" (click)="saveFilter()" >Salvar</button>
</form>